.cell{
	border: 1px solid silver;
  	font-family: Tahoma, Courier, monospace;
  	font-size: 14px;
  	color: #000;
  	padding: 5px;
}
.cell_type_red{
	color: red;
}
.cell_type_blue{
	color: blue;
}
.cell_type_geo{
	background: url('yes.png');
	background-size: 22px;
	background-repeat: no-repeat;
	background-position-y: 4px;
	background-position-x: 50%;
}
.cell_type_not_geo{
	background: url('no.png');
	background-size: 16px;
	background-repeat: no-repeat;
	background-position-y: 4px;
	background-position-x: 50%;
}