.head-cell{
  	font-family: Tahoma, Courier, monospace;
  	font-size: 14px;
  	color: #000;
  	border: 2px solid #fc0;
  	cursor: pointer;
  	padding: 5px;
    min-width: 120px; 
}
.head-cell_type_up{
	background: url('up.png');
	background-repeat: no-repeat;
	background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  background-size: 22px;
}
.head-cell_type_down{
	background: url('down.png');
	background-repeat: no-repeat;
	background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  background-size: 22px;
}